<%- include('partial/header'); %>

<body>
    <div class="row">
        <div class="column col-sm-6 col-lg-6">
            <img id="img" src="/images/userlogo.png" width="250px" height="280px" />
            <button id="userbtn" class="center"><a href = "table">User</a></button>
        </div>
        <div class="column col-sm-6 col-lg-6">
            <img id="img" src="/images/kitchenlogo.png" width="250px" height="280px" />
            <button id="kitchenbtn" class="center"><a href = "kitchen">Kitchen</a></button>
        </div>
    </div>
</body>