<%- include('partial/header'); %>

<p>Welcome! Please select a table</p>

<body>
    <form action="/table" method="post">
        <div class="row">
            <div class="col-md-1"></div> 
            <div class="column col-md-2">
                <div id="box"><img src="/images/table1.png" /></div>
                <button name="table" value="Table1" type="submit" id="tablebtn" class="center">Table 1</button>
            </div>
            <div class="column col-md-2">
                <div id="box"><img src="/images/table2.png" /></div>
                <button name="table" value="Table2" type="submit" id="tablebtn" class="center">Table 2</button>
            </div>
            <div class="column col-md-2">
                <div id="box"><img src="/images/table3.png" /></div>
                <button name="table" value="Table3" type="submit" id="tablebtn" class="center">Table 3</button>
            </div>
            <div class="column col-md-2">
                <div id="box"><img src="/images/table4.png" /></div>
                <button name="table" value="Table4" type="submit" id="tablebtn" class="center">Table 4</button>
            </div>
            <div class="column col-md-2">
                <div id="box"><img src="/images/table5.png" /></div>
                <button name="table" value="Table5" type="submit" id="tablebtn" class="center">Table 5</button>
            </div>
            <div class="col-md-1"></div> 
        </div>
    </form>
</body>