body {
    background-color: #E9D8A6;
}

.header {
    width: 100%;
    height: 150px;
    line-height: 150px;
    background-color: #ee9b00;
    color: black;
    font-family: "Lilita One", serif;
    font-size: 55px;
    text-align: center;
    margin: 0;
}

.column #userbtn, #kitchenbtn, a, a:hover {
    width: 200px;
    height: 50px;
    font-family: "Lucida Grande", sans-serif;
    font-size: 24px;
    color: white;
    text-align: center;
    border-radius: 8px;
    border: none;
    text-decoration: none;
}

#userbtn {
    background-color: #881F1B;
}

#kitchenbtn {
    background-color: #1D7906;
}

.column #img {
    display: block;
    margin: auto;
    margin-top: 100px;
}

.column .center {
    display: block;
    margin: auto;
    margin-top: 100px;
}

p {
    font-size: 36px;
    color: black;
    font-family: "Lucida Grande", sans-serif;
    text-align: center;
    padding-top: 60px;
}

#box {
    width: 170px;
    height: 170px;
    background-color: white;
    margin: auto;
    margin-top: 100px;
    border-radius: 8px;
    position: relative;
}

#tablebtn {
    width: 100px;
    height: 30px;
    font-size: 18px;
    color: black;
    background-color: #F7EDCF;
    text-align: center;
    font-weight: 500;
    border-radius: 30px;
    border: none;
    margin-top: 30px;
}

#box img {
    height: 160px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}