body {
    background-color: #E9D8A6;
}

.header {
    width: 100%;
    height: 150px;
    line-height: 150px;
    background-color: #ee9b00;
    color: black;
    font-family: "Lilita One", serif;
    font-size: 55px;
    text-align: center;
    margin: 0;
}

.column #userbtn, #kitchenbtn, a, a:hover {
    width: 200px;
    height: 50px;
    font-family: "Lucida Grande", sans-serif;
    font-size: 24px;
    color: white;
    text-align: center;
    border-radius: 8px;
    border: none;
    text-decoration: none;
}

#userbtn {
    background-color: #881F1B;
}

#kitchenbtn {
    background-color: #1D7906;
}



.column #img {
    display: block;
    margin: auto;
    margin-top: 100px;
}

.column .center {
    display: block;
    margin: auto;
    margin-top: 100px;
}

p {
    font-size: 36px;
    color: black;
    font-family: "Lucida Grande", sans-serif;
    text-align: center;
    padding-top: 60px;
}

#box {
    width: 170px;
    height: 170px;
    background-color: white;
    margin: auto;
    margin-top: 100px;
    border-radius: 8px;
    position: relative;
}

#tablebtn {
    width: 100px;
    height: 30px;
    font-size: 18px;
    color: black;
    background-color: #F7EDCF;
    text-align: center;
    font-weight: 500;
    border-radius: 30px;
    border: none;
    margin-top: 30px;
}

#box img {
    height: 160px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}



#table {
    width: 80px;
    height: 30px;
    font-size: 18px;
    font-weight: 400;
    color: black;
    background-color: #F7EDCF;
    border-radius: 30px;
    text-align: center;
    position: relative;
    float: right;
    padding: 3px;
    margin-top: -140px;
    margin-right: 10px;
}

.searchbar {
    width: 350px;
    height: 40px;
    display: block;
    margin: auto;
    margin-top: 60px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
}

.searchbar::placeholder {
    color: #AAAAAA;
}

.searchbar:disabled {
    background-color: white;
}

.user {
    background-color: #F7EDCF;
    margin-top: 70px;
    position: relative;
}

.menubtn {
    padding: 0;
}

#menubtn {
    width: 100%;
    height: 60px;
    background-color: #F7EDCF;
    font-size: 18px;
    border: none;
    color: black;
    font-weight: 500;
}

#menubtn:disabled {
    background-color: white;
}

.title {
    position: relative;
    font-size: 24px;
    padding-top: 20px;
    text-decoration: underline;
}

.menu { 
    background-color: white;
}

#menu {
    width: 250px;
    height: 250px;
    display: block;
    margin: auto;
}

.name {
    font-family: "Lilita One", serif;
    font-size: 34px;
    position: relative;
    margin: 30px 0 0 20px;
    line-height: 1.2em;
}

.description {
    font-family: "Lucida Grande", sans-serif;
    font-size: 18px;
    font-weight: 100;
    position: relative;
    margin: 10px 0 10px 20px;
    line-height: 1.2em;
}

.price {
    font-family: "Lilita One", serif;
    font-size: 24px;
    width: 100%;
    display: inline-block;
    text-align: right;
    margin-top: 10px;
    padding-right: 20px;
}

#add {
    width: 120px;
    height: 30px;
    font-size: 18px;
    color: white;
    background-color: #0A9396;
    border-radius: 30px;
    border: none;
    float: right;
    margin-right: 10px;
    margin-bottom: 30px;
}

#selected {
    height: 1700px;
    border-right: #777777 solid 1px;
    border-left: #777777 solid 1px;
}

#orderlist {
    height: 100px;
}



.list {
    width: 180px;
    height: 170px;
    background-color: white;
    position: relative;
    margin: 15px -5px;
    border-radius: 8px;
    padding: 10px 15px;
}

#name {
    font-family: "Lucida Grande", sans-serif;
    font-size: 20px;
    font-weight: 100;
}

#price {
    font-family: "Lucida Grande", sans-serif;
    font-size: 16px;
    font-weight: 100;
    float: right;
    position: absolute;
    top: 105px;
    right: 20px;
}

#remove {
    width: 100px;
    height: 25px;
    font-size: 16px;
    color: white;
    background-color: #AE2012;
    border-radius: 30px;
    border: none;
    position: absolute;
    top: 135px;
    right: 10px;
}

#request {
    width: 180px;
    height: 120px;
    position: relative;
    margin: 15px -5px;
    border: none;
    border-radius: 8px;
    padding: 10px;
}

#confirm {
    width: 140px;
    height: 30px;
    font-size: 18px;
    color: white;
    background-color: #EE9B00;
    border-radius: 30px;
    border: none;
    position: relative;
    margin: -5px 15px;
}

.order {
    width: 350px;
    height: 100px;
    background-color: white;
    position: relative;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 15px 20px;
}

#pricee {
    font-family: "Lucida Grande", sans-serif;
    font-size: 16px;
    font-weight: 100;
    float: right;
    position: absolute;
    right: 20px;
}

#cancel {
    width: 100px;
    height: 25px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    background-color: black;
    border-radius: 30px;
    border: none;
    position: absolute;
    top: 65px;
    right: 130px;
}

#queue {
    width: 100px;
    height: 25px;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    padding: 1px;
    color: white;
    background-color: #AE2012;
    border-radius: 30px;
    border: none;
    position: absolute;
    top: 65px;
    right: 20px;
}

#total {
    width: 350px;
    height: 45px;
    background-color: white;
    border-radius: 8px;
    font-size: 20px;
    font-family: "Lucida Grande", sans-serif;
    padding: 10px 20px;
    position: relative;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 10px;
}

#totalprice {
    float: right;
}

#checkout {
    width: 330px;
    height: 30px;
    font-size: 18px;
    font-weight: 500;
    color: white;
    background-color: #AE2012;
    border-radius: 30px;
    border: none;
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}

#checkout:disabled {
    background-color: #777777;
}