<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css%22%3E
    <link href='https://fonts.googleapis.com/css?family=Lilita One' rel='stylesheet'>
    <link rel="stylesheet" href="/public/css/styles.css">
    <title>CLUCK CLUCK</title>
</head>
<body>
    <h1 class="header">CLUCK CLUCK</h1>
</body>
</html>